* {
    margin: 0 padding:0
}

.header {
    width: 98vw;
    height: 9vh;
    background-color: #008cff;
}

.buttons {
    padding: 15px 50px;
}

button {
    margin: 0px 5px;
    width: 10vw;
    height: 5vh;
    font-size: medium;
    background-color: rgb(217, 255, 255);
    border-radius: 6px;
    border-color: black;
    border-style: solid;
    
}

button:hover{
    background-color: aqua;
}

.search {
    width: 40vw;
}

.main {
    width: 98vw;
    height: 76vh;
}

.footer {
    width: 98vw;
    height: 12vh;
    background-color: #008cff;
    display: flex;
    justify-content: center;
    align-items: center;
}